# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment / secrets
.env

# Logs
logs/*.log

# IDE
.idea/

# OS
.DS_Store
